<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joud.ebqaaproject">
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="com.joud.ebqaaproject.Notification"
        android:allowBackup="true"
        android:icon="@drawable/toolbar_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpiryDateTracker">
        <receiver
            android:name="com.joud.ebqaaproject.Receiver"
            android:enabled="true"
            android:exported="true">

        </receiver>

        <activity android:name="com.joud.ebqaaproject.Item" />
        <activity android:name="com.joud.ebqaaproject.Category" />
        <activity android:name="com.joud.ebqaaproject.ItemActivity" />
        <activity android:name="com.joud.ebqaaproject.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>